.logo {
    position: fixed;
    z-index: 1;
}

.logo img:hover {
    background-color: tomato;
    box-shadow: inset 0px 2px 5px rgb(165, 24, 24);
    transition: all 200ms ease-in;
}

.logo img {
    display: flex;
    background-color: #eee;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0px 2px 5px darkgray;
    width: 200px;
}
